---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Kia ora 👋</div>
    <div class="text-5xl font-bold">I'm William Chu</div>
    <div class="text-3xl py-3 font-bold">Junior Fullstack Software Developer</div>
    <div class="py-2">
      <text class="text-lg">
        Hello and welcome to my portfolio! I will be updating this as I progress through my career as a software developer, so come back and have a look every so often!
        With a degree in Bachelor of Commerce - Accounting from the prestigious University of Otago, I pursued a career in Accounting before realizing my passion in 
        technology and coding. Thanks to Dev Academy, I've had the opportunity to collaborate with others on the same trajectory where we were able to work, learn, laugh and cry together
        to create small student-lead projects.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/william-chu-b1912b158/" target="_blank"> Let's connect!</a>
      <a href="https://drive.google.com/file/d/1j6iq-oSaiJjwy9vLqfL6wvuQ1mbZwN6g/view?usp=drive_link" target="_blank" class="btn btn-outline ml-5">
        Link to CV
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My first static website! {"</>"}</div>
  </div>

  <HorizontalCard
    title="Blog"
    img="/blog.jpg"
    desc="Using basic HTML & CSS, then hosting the page on Github "
    url="https://willchu1733.github.io/"
    badge=""
  />
  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

   <HorizontalCard
    title="Devify"
    img="/Devify.jpg"
    desc="Create an E-commerce website that improves user experience and allows the user to simulate the purchase of a product from start to finish. "
    url="https://devify.pushed.nz/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Pokemon Pokedex"
    img="/PokeAPI.jpg"
    desc="Search any Pokemon from any generation!"
    url="https://william-pokedex-api.netlify.app/"
    badge="TEST"
  />

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
