---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi 👋</div>
    <div class="text-5xl font-bold">I'm Claire</div>
    <div class="text-3xl py-3 font-bold">Product Manager and Entrepreneur</div>
    <div class="py-2">
      <text class="text-lg">
        My specialism is building technical tools for planners, transport professionals and health-care providers - so that we can design more sustainable, equitable, inclusive cities. 
        
        My experience spans geospatial data science, user research, strategy, partnership development, and agile product management.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://www.linkedin.com/in/clairefram/" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Diagonal"
    img="/post_img.webp"
    desc="I co-founded Diagonal, a data analytics company in 2020. It is a steward-owned company, committed to purpose above profit, so that I can help get bolder projects off the ground, with evidence. We have built some tools along the way:
    🌆 <a href=https:.diagonal.works/> Diagonal </a>
    👾 <a href=https://github.com/diagonalworks/diagonal-b6> bedrock (b6)</a>
    🫥 https://github.com/diagonalworks/diagonal-pets
    🩺 https://github.com/diagonalworks/ucl-population-health"
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Arup"
    img="/post_img.webp"
    desc="I spent many years at Arup where I led multiple data analytics products for transport professionals - including the <a href=https://www.arup.com/services/city-modelling-lab/> City Modelling Lab</a>. "
    url="#"
  />
  <!-- <div class="divider my-0"></div>
  <HorizontalCard
    title="Demo Project 3"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    badge="FOSS"
  /> -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
